@model RecipeManager.Models.RecipeReciptModel
<div id="DivGridRecipt">
    <br />
    <br />

    <b>Final Order Recipe:</b>


    <ul>
      
            <br />

        <li>Total Tax: @Model.Tax</li>
        <br />

        <li>Total Discount: @Model.Discount</li>
        <br />

        <li>Total Cost: @Model.Total</li>
       
    </ul>
</div>